@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* default cursor  */
  cursor: crosshair;
}

svg {
  width: inherit;
  height: inherit;
 }

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: dashed;
  border-color: white;
  @apply dark:border-black;
  background-color: white;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}

.canvas {
  display: block;
  image-rendering: pixelated;
}

.container {
  height: 200px;
  position: relative;
}

.center {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

kbd {
  font-family: monospace;
  padding: calc(var(--unit) * 0.5);
  border-radius: calc(var(--unit) * 0.5);
}

.GiestButton-blurred {
  filter: blur(16px);
}

.GiestButton {
  /* filter: blur(16px) */
  color: blueviolet;
}

.page {
  @apply min-h-screen m-8 overflow-hidden relative;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-ripple-green {
  background-color: #1a8d6b;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: ripple 0.7s linear infinite;
          animation: ripple 0.7s linear infinite;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.02), 0 0 0 0.2em rgba(101, 255, 120, 0.04), 0 0 0 0.6em rgba(101, 255, 120, 0.03), 0 0 0 1.5em rgba(101, 255, 120, 0.03);
  }
  100% {
    box-shadow: 0 0 0 2em rgba(101, 255, 120, 0.02), 0 0 0 0.6em rgba(101, 255, 120, 0.04), 0 0 0 1.5em rgba(101, 255, 120, 0.03), 0 0 0 2.4em rgba(101, 255, 120, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 0.2em rgba(101, 255, 120, 0.3), 0 0 0 0.6em rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0.2em rgba(101, 255, 120, 0.3), 0 0 0 0.6em rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 1.2em rgba(101, 255, 120, 0);
  }
}